
<div class='wrapper'>
  <h1>{{title}}</h1>

  <nav>
    <a routerLink="plays" routerLinkActive="active">Plays</a>
    <a routerLink="actors" routerLinkActive="active">Actors</a>
    <a routerLink="theatrerooms" routerLinkActive="active">Theatre Rooms</a>
    <a routerLink="directors" routerLinkActive="active">Directors</a>
    <a routerLink="performances" routerLinkActive="active">Performances</a>
    <a routerLink="offices" routerLinkActive="active">Offices</a>
    <a routerLink="reports" routerLinkActive="active">Reports</a>
  </nav>

</div>

<router-outlet></router-outlet>
